<!DOCTYPE html>
<title>{% block title %}{% endblock %} - ACLOG</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Rufina:wght@400;700&display=swap" rel="stylesheet">

<link rel="icon" type="image/gif/png" href="{{ url_for('static',  filename='imagen/decoration/emblema.png') }}">

<body>
    <header>
        <div class="logo"><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static',  filename='imagen/decoration/emblema.png') }}" width="45px"></a>ACADEMIA DE LOGÍSTICA</div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><span class="hola">Usuario: {{ g.personal['nombre'] }}</span></li>
                    <li class="dropdown"><a href="#">Comidas</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.menu') }}">Menú</a><br/>
                            <a href="{{ url_for('data.comida') }}">Apuntarse</a><br/>
                        </div>
                    </li>
                    <li><a href="{{ url_for('data.deporte') }}">Deporte</a></li>
                    <li class="dropdown"><a href="#">Servicios unidad</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.orden') }}">De orden</a><br/>
                            <a href="{{ url_for('main.seguridad') }}">De seguridad</a><br/>
                        </div>
                    </li>
                    <li><a href="{{ url_for('main.mail') }}">Sugerencias</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %} 
                {% if category == 'error' %}
                    <div class="alert">
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="/static/js/alerts/sweetAlert_error.js"></script>
                        <script> 
                            inicializar_mensaje_error("{{ message }}");
                        </script>
                    </div>
                {% elif category == 'success' %}
                    <div class="alert">
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="/static/js/alerts/sweetAlert_success.js"></script>
                        <script> 
                            inicializar_mensaje_success("{{ message }}");
                        </script>
                    </div>
                {% else %}
                    <div class="alert">
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="/static/js/alerts/sweetAlert_login.js"></script>
                        <script> 
                            inicializar_mensaje_login("{{ message }}");
                        </script>
                    </div>
                {% endif %} 
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    <section>{% block content %}{% endblock %}</section>

    <div class="footer">
        <div class="center full-width">
            <div class="row">
                <h3>¿Quieres estar al día?</h3>
            </div>
        </div>
        <div class="center full-width">
            <div row>
                <p>No te olvides de seguirnos en las redes sociales</p>
            </div>
        </div>
        <div class="center full-width social-links">
            <div class="row">
                <a target="_blank" href="https://twitter.com/Defensagob"><img class="social" width="30" src="{{ url_for('static', filename='imagen/social_media/twitter.png') }}" /></a>
                <a target="_blank" href="https://www.facebook.com/MinisterioDefensaESP/"><img class="social" width="30" src="{{ url_for('static', filename='imagen/social_media/facebook.png') }}" /></a>
                <a target="_blank" href="https://es.linkedin.com/company/ejercito-de-tierra"><img class="social" width="30" src="{{ url_for('static', filename='imagen/social_media/linkedin.png') }}" /></a>
            </div>
        </div>
        <div class="made-with">
            <div class="row">
                <img width="150" src="{{ url_for('static', filename='imagen/decoration/buner.png') }}" />
            </div>
        </div>
    </div>

</body>
